@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Jameel Noori Nastaleeq';
  src: url('/fonts/urdu-font.woff2') format('woff2'),
       url('/fonts/urdu-font.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* ... other styles */
@keyframes ken-burns-zoom {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(2);
  }
}

.animate-ken-burns {
  animation: ken-burns-zoom 15s ease-in-out infinite alternate;
}